#header
{
	top: 0;
	height: 100px;
	position: fixed;
	width: 100%;
	font-size: 24pt;
	text-align: center;
	z-index: 100;
	background-color: #E6E6E6;
	left: 0;
}

#text
{
	width: 50%;
	top: 100px;
	left: 0;
	background-color: #F00;
	position: absolute;
}

#textbox
{
	right: 1em;
	left: 1em;
	position: relative;
	padding-right: 2em;
	z-index: 10;
}

#Perseus
{
	right: 0;
	overflow: auto;
	top: 100px;
	bottom: 1em;
	position: fixed;
	width: 50%;
	background-color: #6F6;
	font-size: medium;
}

body
{
	font-family: Lucida Grande, Helvetica, Sans-Serif;
	font-size: 14pt;
}

#textbox span:hover {text-decoration: underline}