<small>
  <ul>
	<li><a href="{{ site.url }}">My homepage</a></li>
	<li><a href="{% link blog/tags.md %}">Blog tags</a>
	{% if site.email %}
	<li> {% include icon-email.html username=site.email %} </li>
	{% endif %}
	{% if site.github_username %}
	<li> {% include icon-github.html username=site.github_username %} </li>
	{% endif %}
	{% if site.mastodon.username %}
	<li> {% include icon-mastodon.html username=site.mastodon.username instance=site.mastodon.instance %} </li>
<!--
	{% if site.twitter_username %}
	<li> {% include icon-twitter.html username=site.twitter_username %} </li>
	{% endif %}
 -->
	{% endif %}
  </ul>
</small>
